<% content_for :title, "Editing food pack" %>

<h1>Editing food pack</h1>

<%= render "form", food_pack: @food_pack %>

<br>

<div>
  <%= link_to "Show this food pack", @food_pack %> |
  <%= link_to "Back to food packs", food_packs_path %>
</div>
