<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= client.birthday %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Social media:</strong>
    <%= client.social_media %>
  </p>

</div>
