<% content_for :title, "Editing side" %>

<h1>Editing side</h1>

<%= render "form", side: @side %>

<br>

<div>
  <%= link_to "Show this side", @side %> |
  <%= link_to "Back to sides", sides_path %>
</div>
