<% content_for :title, "Editing protein" %>

<h1>Editing protein</h1>

<%= render "form", protein: @protein %>

<br>

<div>
  <%= link_to "Show this protein", @protein %> |
  <%= link_to "Back to proteins", proteins_path %>
</div>
